# Global
# ----------------------------------

# MacOS
.DS_Store

# Private Stuff
/**/**/private-*

# Shell
# ----------------------------------

# Compiled zsh
/shell/zsh/**/**.zwc
/shell/zsh/**/**.zwc.old
